


<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this user from being saved:</h2>
 
      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
New Team <%= f.label :Name %>
<%= f.text_field :name %>
<!-- add team sport option -->
<%= f.collection_check_boxes :user_ids, User.all, :id, :email %></br>
<%= f.collection_check_boxes :sport_ids, Sport.all, :id, :name %> </br>
<%= f.fields_for :sports do |d|%>
<p>create new sport</p>  <%= d.text_field :name%>
  <% end %></br>
<%= f.submit %>
<% end %></br>

  <%= link_to "Home", root_path %>