
<strong>Team Name:</strong> <%= @team.name%></br>

<strong>Sports this team plays:</strong><% @team.sports.each do |sport| %>
  <li><%= sport.name%></li> <%= link_to "Delete sport", sport_path(sport.id), method: :delete, data: {confirm: 'Are you sure?'}%>
  <% end %>
</br>
<div class="field">
<p>Players on this team</p>
<% @team.users.each do |user|%>
  <li><%= user.email%></li>
  <% end %>
<% @teamgames.each do |game|%>
<ul >
Game Date:  <%= game.game_date.strftime("%B %d, %Y") %></br>
Game Time:  <%= game.game_time.strftime("%I:%M:%S %p") %></br>
Field: <%= game.field.name %> </br>
<% if game.sport %>
Sport: <%= game.sport.name %> <% end %></br>

<%= link_to 'Delete game', game_path(game.id), method: :delete, data: {confirm: 'Are you sure?'} %>
</ul>
<% end %>
</div>  
<%= link_to 'Create Game for this Team', newgame_path(@team.id) %></br>
<%= link_to 'Create Sport for this Team', newsport_path(@team.id) %></br>
<%= link_to 'Edit this team', edit_team_path(@team.id)%></br>

