<strong>Team Name:</strong> <%= @team.name%>
</br>
<div class="field">

<% @teamgames.each do |game|%>
Game Date:  <%= game.game_date.strftime("%B %d, %Y %A") %></br>
Game Time:  <%= game.game_time.strftime("%I:%M:%S %p") %></br>
Location: <%= game.location %></br>
<% end %>
</div>
<%= link_to 'Create Game', new_game_path %></br>
<%= link_to 'Home', root_path %>
