<strong>Team Name:</strong> <%= @team.name%></br>
<strong>Sports this team plays:</strong><% @team.sports.each do |sport| %>
  <ul><%= sport.name%></ul>
  <% end %>
</br>
<div class="field">

<% @teamgames.each do |game|%>
Game Date:  <%= game.game_date %></br>
Game Time:  <%= game.game_time %></br>
Location: <%  %></br>
<%binding.pry%>
Sport: <%= game.sports.name%>
<% end %>
</div>  
<%= link_to 'Create Game', new_game_path %></br>
<%= link_to 'Home', root_path %>
