


<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this user from being saved:</h2>
 
      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
Sport Name
<%= f.collection_select :name, Sport.all, :id, :name, :prompt => true %>

<%= f.submit "add sport"%>
<% end %></br>

