  <% if current_user.team_id != nil %>
    <% @user.team.users.each do |user|%>
    <li><%= user.name%></li>
      <% end %>
  <% else %>
  <h2>Create or choose your team </h2>
    <%= form_for @team do |f|%>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :team_id %>
      add option to choose team here
      <%= f.submit %>
      <% end %>
  <% end %>