
<h3>Create New Game </h3>
<div class="field">
<%= form_for @game, :url => {:controller => "games", :action => "create"} do |f| %>
 <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this user from being saved:</h2>
 
      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.label :game_time %>
<%= f.time_field :game_time %>
<%= f.label :game_date %>
<%= f.date_field :game_date %>
<%= f.label :check_created_sport %>
<%= f.collection_select :sport_id, @team.sports, :id, :name %></br>
<%= f.hidden_field :team_id, :value => @team.id %> 

Choose a field <%= f.collection_select :field_id, Field.all, :id, :name %> </br>
<%= f.submit %>
<% end %>
<%= link_to "home", root_path%>
</div>