<strong>Game details:</strong> <%= current_user.teams.name%>
</br>
<div class="field">
Game Date:  <%= @game.game_date.strftime("%A, %d %b %Y %l:%M %p") %></br>
Game Time:  <%= @game.game_time.strftime("%I:%M:%S %p") %></br>
Location: <%= "something" %></br>
</div>
<%= link_to 'Create New Game', new_game_path %></br>
<%= link_to 'Back to all games for your team'%></br>
<%= link_to 'Home', root_path %>
