<h3>All Games </h3> 
<% binding.pry%>
<% if @todays_games.empty?%>
  <%= puts "no games today"%>
  <% else%>
    Todays Games
  <% @todays_games.each do |game|%>
    <%= render 'game_details', :game => game %>
  <% end %>
<% end %>
  Other Games
<% @other_games.each do |game|%>
  <%= render 'game_details', :game => game%>
<% end %></li>
</div>
<%= link_to 'Create Game', new_game_path %></br>
<%= link_to 'Home', root_path %>

