<strong>Team Name:</strong> <% current_user.teams.each do |team| %>
</br>
<%= team.name%>
<% end %>
<div class="field">

<% @games.each do |game|%>
Game Date:  <%= game.game_date %></br>
Game Time:  <%= game.game_time %></br>
Sport: <%= game.sports.each { |sport| sport.name} %>
<%= link_to 'Additonal Game Details', game_path(game) %></br>
<% end %>
</div>
<%= link_to 'Create Game', new_game_path %></br>
<%= link_to 'Home', root_path %>
