<h3>All Games for <strong><%=current_user.email %>:</strong></h3> 


<% @teams.each do |team|%>
<% team.name%>
<% team.games.each do |game| %><li>
Game Date:  <%= game.game_date %></br>
Game Time:  <%= game.game_time %></br>
Game Field: <%= game.field.name %>
Sport: <%= game.sport.name %></li>
<%= link_to 'Additonal Game Details', game_path(game) %></br>
  <% end %>
<% end %>
</div>
<%= link_to 'Create Game', new_game_path %></br>
<%= link_to 'Home', root_path %>
