<h2>Welcome to the Team Player app</h2></br>
<% if current_user %>
  <%= current_user.email%><p>Is Logged In </p> </br>
  <% else %>
<%= link_to "Sign Up for Team Player", new_user_registration_path %></br>
<%= link_to "Already a user? - Sign In", new_user_session_path %></br>
  <% end %>
<% if user_signed_in? && !current_user.teams.empty? %>

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></br>
<h3>My teams</h3>
<p>Click on each team for more information: </p>

<div>
<ul id="teamlist">
<% current_user.teams.each do |team| %>
  <li id="teams"><%= link_to "#{team.name}", team_path(team), class: "team" %></li> </br>
 <% end %>
 </ul>
 </div>
 <div id="teamshow">

 </div>
<button type="button" id="show-partial"</button>

  <%= link_to "Create a New Team", new_team_path(current_user), class: "new-team" %></br>
  <div id="teamform">
  <%= form_for @teams do |f|%>
    <%= f.text_area :name %> 
    <p> <%=f.submit "Create New Team", data: { disable_with: false }%> </p>
    <% end %>
    </div>
  
  <%= link_to "View all teams", teams_path, class: "teams"  %> </br>
  <div class="all_teams">
  </div>
  <%= link_to "View all Sports", sports_path, class: "sports" %> </br>
  <div class="all_sports">
  </div>
  <%= link_to "View all games", games_path(current_user.id), class: "games"%>
  <div class="user_games">
  </div>

  <% else %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></br>
  <%= link_to "All Users", users_path%></br>
    <%= form_for @teams do |f|%>
    <%= f.text_area :name %> 
    <p> <%=f.submit "Create a New Team"%> </p>
    <% end %>
  <%= link_to "Create a Team", new_team_path(current_user) %>

<% end %>

<script id="team-template" type="text/x-handlebars-template">
<li id="teams"><a class="team" href="/teams/{{id}}">{{name}}</a></li>
</script>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  

</body>
  
</div>
</script>